.drawer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  background-color: $c-drawer-background;
  transition: all .3s;
  transform: translateX(-100%);
  margin-top: $page-title-height;
  padding-bottom: $page-title-height;
  border-right: 1px solid $c-shade-superlight;
  overflow: scroll;

  &.is-open {
    transform: translateX(0);
  }
}

.drawer__content {
  
}

.drawer__section {
  border-bottom: 1px solid $c-shade-superlight;
  padding: 25px $drawer-padding 25px $drawer-padding;

  &--full {
    padding-left: 0;
    padding-right: 0;
  }
}



.drawer__title {
  padding: 30px $drawer-padding 5px $drawer-padding;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.drawer__section-title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 0;
  margin-bottom: 12px;
}

.drawer__copy {
  font-size: 13px;
  line-height: 17px;
  margin: 0;
}

/* 
  DRAWER ITEM — List item for account connection etc.
*/

.drawer__item {
  border-bottom: 1px solid $c-shade-superlight;
  padding: 10px $drawer-padding;
  position: relative;

  &:last-child {
    border-bottom: none;
  }

  &.is-connected {
    .drawer__item-icon {
      background-color: $c-accent;
    }
  }
}

.drawer__item-icon {
  background-color: #AFAFAF;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 6px;
  margin-right: 12px;
  border-radius: 100%;
  color: #fff;
  font-size: 17px;
  vertical-align: middle;
}

.drawer__item-meta {
  transition: all .2s;
  position: absolute;
  right: $drawer-padding;
  line-height: 28px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  color: $c-shade-light;
  transform: translateY(0);
  transition: all .2s;
  font-style: italic;
  cursor: default;

  &.is-inactive {
    opacity: 0;
    visibility: hidden;
  }

  &--01 {
    &.is-inactive {
      transform: translateY(10px);
    }
  }

  &--02 {
    &.is-inactive {
      transform: translateY(-10px);
    }
  }
}


.drawer__item-info {
  display: inline-block;
  margin-right: 5px;
}

.drawer__item-action {
  color: $c-accent;
  font-style: normal;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;

  &--plain {
    color: $c-shade-light;
  }
}