.feed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.is-loading {
    .feed__canvas {
      opacity: .5;
    }
  }
}

.feed__canvas {
  width: 100%;
  height: 100%;
  transition: opacity .3s;

  &.is-zooming div {
    pointer-events: none;
  }
}

.feed__item {
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  transition: box-shadow .1s, opacity .5s;

  &:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.19);
  }

  &--instagram {
    iframe {
      margin: 0 !important;
      width: 100% !important;
    }
  }

  &--twitter {
    twitterwidget {
      margin: 0 !important;
    }
  }

  &--youtube {
    &:hover {
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.23);
    }
  }
}