.feed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.feed__canvas {
  width: 100%;
  height: 100%;

  &.is-zooming div {
    pointer-events: none;
  }
}

.feed__item {
  position: absolute;

/*   > div {
    opacity: 0;

    &.feeeed_item {
      width: 10px;
      height: 10px;
      background-color: #000;
    }
  } */
}