.header {
  width: 100%;
  padding: 20px 30px;
  font-family: $monospace;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__avatar {
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  margin-right: 30px;
  letter-spacing: .05em;
  border: 2px solid $c-black;
}

.header__title {
  color: $c-accent;
  text-transform: uppercase;
  font-weight: 600;
}

.header__options {
  margin-right: 100px;

  .btn {
    min-width: 105px;
  }
}

.header__accounts-label {
  display: inline-block;
  margin-right: 10px;
}

.header__account {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  font-size: 16px;
  color: $c-black;
}

.header__accounts {
  display: inline-block;
  margin-right: 20px;
}