.sidebar {
  height: 100%;
  padding: 20px 35px;
  position: fixed;
  min-width: 200px;
  top: 0;
  left: 0;
  z-index: 900;
  background: linear-gradient(to right, rgba(255,255,255, .89) 40%,rgba(255,255,255,0) 100%);
  transition: all .3s;
}

.sidebar__title {
  color: $c-accent;
  font-family: $serif;
  font-size: 27px;
  font-weight: 900;
  line-height: 28px;
  transition: all .3s;
  margin-bottom: 60px;
}

.sidebar__links {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  font-size: 15px;  
}

.sidebar__link-group {
  margin-bottom: 30px;
}

.sidebar__link {
  line-height: 15px;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: .08em;
  cursor: pointer;
  text-decoration: none;
  color: $c-black;
  font-weight: 600;
  font-size: 14px;

  &.is-active {
    color: $c-accent;
    font-weight: 700;
  }
}

.sidebar__link-icon {
  vertical-align: text-top;
  display: inline-block;
  margin-right: 4px;

}

.sidebar__platforms {
  border-top: 1px solid $c-shade-superlight;
  padding-top: 20px;
}

.sidebar__platforms-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: $c-black;
  font-size: 14px;
}

.sidebar__platform {
  color: $c-shade-light;
  display: inline-block;
  font-size: 16px;
  margin-right: 9px;

  &--is-connected {
    color: $c-accent;
  } 
}