@font-face {
    src: url('../fonts/InputSansCondensed-Regular.eot'); /* IE < 9 */
    src: url('../fonts/InputSansCondensed-Regular.eot?#') format("embedded-opentype"), /* IE 9 */
         url('../fonts/InputSansCondensed-Regular.woff2') format("woff2"),
         url('../fonts/InputSansCondensed-Regular.woff') format("woff");
    font-family: 'InputSansCondensed';
    font-style: normal;
    font-weight: normal;
    }

@font-face {
    src: url('../fonts/InputSansCondensed-Bold.eot'); /* IE < 9 */
    src: url('../fonts/InputSansCondensed-Bold.eot?#') format("embedded-opentype"), /* IE 9 */
         url('../fonts/InputSansCondensed-Bold.woff2') format("woff2"),
         url('../fonts/InputSansCondensed-Bold.woff') format("woff");
    font-family: 'InputSansCondensed';
    font-style: normal;
    font-weight: bold;
    }

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


* {
  box-sizing: border-box;
}

body {
  font-family: $monospace;
  overflow: hidden;
}

a {
  color: $c-black;
}

.page-title {
  color: $c-accent;
  font-family: $serif;
  font-size: 27px;
  font-weight: 900;
  line-height: 28px;
  height: $page-title-height;
  padding: 31px $drawer-padding;
  z-index: 999;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  &.is-inside-drawer {
    background-color: $c-drawer-background;
    border-bottom: 1px solid $c-shade-superlight;
    border-right: 1px solid $c-shade-superlight;
  }
}