$c-accent: #3163FF;
$c-black: #2E2E2E;
$c-facebook: #4962B5;
$c-twitter: #1AB7EA;

$c-shade-superlight: rgba(0, 0, 0, .08);
$c-shade-light: rgba(0, 0, 0, .5);

$monospace: 'InputSansCondensed', monospace;
$serif: 'Playfair Display', serif;