.bubbles {
  //background-color: #F5B3B3;
}

.bubble {
  circle {
    fill: #000;
  }

  &.is-me circle,
  &.is-me.is-visited circle {
    fill: $c-accent;
    stroke-width: 0;
  }

  &.is-visited circle {
    fill: #fff;
    stroke-width: 3px;
  }
}