.check-group {
  margin-bottom: 20px;
}

.check {
  line-height: 28px;
  cursor: pointer;
  margin-bottom: 4px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .05em;

  &--header {
    font-weight: 800;
    .check__label {
      cursor: pointer;
    }
  }

  &.is-active,
  &.is-semi-active {
    font-weight: 600;
    .check__box {
      color: #fcfcfc;
    }
  }
}

.check__collapse-icon {
  font-size: 20px;
  float: right;
}


.check__box {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  margin-right: 10px;
  border: 2px solid;
  text-align: center;
  border-radius: 100%;
}

.check__icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 14px;
}