.check-group {
  margin-bottom: 20px;
}

.check {
  line-height: 28px;
  cursor: pointer;

  &--header {
    font-weight: 800;
    .check__label {
      cursor: pointer;
    }
  }

  &.is-active,
  &.is-semi-active {
    color: $c-accent;

    .check__box {
      border: 1px solid $c-accent;
    }
  }
}

.check__collapse-icon {
  font-size: 20px;
  float: right;
}


.check__box {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, .5);
}

.check__icon {
  display: inline-block;
  vertical-align: top;
}