.predictions {
  &--tooltip {
    width: 245px;

    .chart__range-bar {
      background-color: rgba(255, 255, 255, .15);
    }
  }

  &--profile {
    .chart__value-bar:after {
      background: #fdfdfd;
    }
  }
}

.predictions__group {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: -15px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.predictions__option-group {
  margin-bottom: 15px;
}

.prediction {
  margin-bottom: 10px;

  &.is-inactive {
    opacity: .2;
  }
}

.chart {
  &--minor {
    margin-bottom: 10px;
    .chart__label {
      text-transform: none;
      letter-spacing: 0;
      font-weight: 400;
      opacity: .6;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.chart__label,
.chart-group__label {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-size: 12px;
  margin-bottom: 7px;
}

.chart__range-bar {
  width: 100%;
  height: 3px;
  background-color: rgba($c-black, .15);
}

.chart__header {
  position: relative;
}

.chart__footer {
  margin-top: 3px;
}

.chart__value {
  font-size: 12px;

  &--right {
    float: right;
  }
}

.chart__value-bar {
  height: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;

  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
    right: 0;
    top: 0;
    width: 1px;
    background: $c-black;
  }
}